/.settings/
/.project
/sandbox-client/.settings/
/sandbox-client/.classpath
/sandbox-client/.project
/sandbox-client/target/
/sandbox-server/.settings/
/sandbox-server/.classpath
/sandbox-server/.project
/sandbox-server/target/
/sandbox-shared/.settings/
/sandbox-shared/.classpath
/sandbox-shared/.project
/sandbox-shared/target/
/my-client-lib/.settings/
/my-client-lib/.classpath
/my-client-lib/.project
/my-client-lib/target/
/sandbox-server-lib/.settings/
/sandbox-server-lib/.classpath
/sandbox-server-lib/.project
/sandbox-server-lib/target/